---
ad1_ingress_security_rules:
  - source: "{{ demo_ords_subnet_ad1_cidr }}"
    protocol: "{{ TCP_protocol }}"
    tcp_options:
        destination_port_range:
            min: {{ DB_port }}
            max: {{ DB_port }}
  - source: "{{ demo_ords_subnet_ad2_cidr }}"
    protocol: "{{ TCP_protocol }}"
    tcp_options:
        destination_port_range:
            min: {{ DB_port }}
            max: {{ DB_port }}
  - source: "{{ bastion_subnet_cidr_block }}"
    protocol: "{{ TCP_protocol }}"
    tcp_options:
        destination_port_range:
            min: {{ SSH_port }}
            max: {{ SSH_port }}
